[submodule "deps/sparsepp"]
	path = deps/sparsepp
	url = https://github.com/edawson/sparsepp.git
[submodule "deps/sdsl-lite"]
	path = deps/sdsl-lite
	url = https://github.com/vgteam/sdsl-lite.git
[submodule "deps/libhandlegraph"]
	path = deps/libhandlegraph
	url = https://github.com/vgteam/libhandlegraph.git
[submodule "deps/sglib"]
	path = deps/sglib
	url = https://github.com/vgteam/sglib
[submodule "deps/libbdsg"]
	path = deps/libbdsg
	url = https://github.com/vgteam/libbdsg.git
[submodule "deps/DYNAMIC"]
	path = deps/DYNAMIC
	url = https://github.com/vgteam/DYNAMIC.git
[submodule "deps/BBHash"]
	path = deps/BBHash
	url = https://github.com/rizkg/BBHash.git
